@charset "UTF-8";

body{
	padding-left:5px;
	background-image: url('images/Coffee3.jpeg');
	
	backgroud-size: cover;
	color: white;
}

a{
	color: lightblue;
	background-color: black;
	
}

table{
	color: black;
}


div{
	padding-top:30px;
	padding-left:30px;
	
}

.lab{
	font-size: 20px;
	color: orange;
	text-shadow: 2px 2px 10px black;
}

.men{
	font-size: 30px;
	
	text-decoration-line: underline;
	color: orange;
	text-shadow: 2px 2px 10px black;
	
}

.reg{
	padding-bottom:30px;
	color: orange;
	text-shadow: 2px 2px 10px black;
	
	
}


.frontpage{
	color: white;
}

.menu{
	width: 50%;
	background-color: white;
	

}

.menu td{
	
	padding-right:10px;
 	border-bottom: 2px solid black;
	
}

.fav{
	
	float:left;
	position:absolute;
	right: 100px;
	bottom:100px;
	width: 40%;
  
	
}

.banner h2{
	text-align: left;
	padding-left: 40px;
}

.banner{
	background-color:grey;
	
}
.foot a{
	
	background-color: grey;
	padding-bottom:10px;
}

.foot{
	background-color: grey;
}

.navbar{
	background-color:grey;
	padding-right:10px;
}

.nav-link{
	background-color:grey;
	
}
.nav-item{
	font-size: 20px;
	padding-right:30px;
	
}

.search{
	font-size: 15px;
	position: absolute;
	right:30px;
	
	
}
